.content{
    margin-left: 800px;
    margin-top: 100px;
    
}
.graph-wrapper{
    margin-left: 300px;
    margin-top: 10px;
}
.side-bar {
    height: 100%;
    width: 240px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: grey;
    }
    
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
.spinner{
    margin-left: 500px;
    
}
.download-btn{
    margin-left: 1000px;
}
.metrics{
    margin-top: 15px;
}
.metrics ul{
    list-style-type: square;
    
  }